@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

* {
  box-sizing: border-box;
  font-family: "Coiny", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(46, 48, 60);
}

h1 {
  font-size: 3rem;
  color: rgb(33, 130, 233);
  line-height: 4rem;
  margin: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-position: cover; */
  background-image: url("./bg.jpg");
}

.whoseturn {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.gbcontainer {
  width: 100%;
  height: auto;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gametiles {
  width: 100%;
  max-width: 600px;
  font-size: 5rem;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(250, 237, 215);
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px 10px;
}

.tile {
  text-align: center;
  font-size: 3rem;
  min-height: 20vh;
  background-color: rgb(247, 202, 78);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3 ease-in-out;
  /* animation: scaleAnimation 0.3 ease-in-out 1; */
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.buttoncontainer {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
}

.bigbutton {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgb(12, 130, 241);
  border-color: whitesmoke;
  border: 2px;
  color: beige;
}
